<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
<div class="list-group">
  <a href="#" class="list-group-item active">
    <%= @table.title %>
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>

<%= link_to 'Edit List', edit_table_path(@table) %> |

<%= link_to 'Delete List', @table, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
 <%= link_to "Back to Profile", url_for({ :controller => 'users', :action => 'show', :id => current_user.id }) %>
<div id="lists">
</div>


