<h1> Add a List </h1>

<form role = "form">
<%= form_for @table do |f| %> 
<%= f.label :title %>
<%= f.text_field :title %> 
<br>
<%= f.button "Save", class: 'btn btn-default btn-success' %>  
<% end %> 
</form>