<div id="lists">

<p>
  <strong>Title:</strong>
  <%= @table.title %>
</p>


<%= link_to 'Edit', edit_table_path(@table) %>
        <br>
 <%= link_to 'Destroy', @table, method: :delete, data: { confirm: 'Are you sure?' } %>
 <br>
<%= link_to 'Back', "/tables" %>

<br>
<br>
</div>