/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */



$jumbotron-bg: #E8F1EE;
$navbar-default-bg: #E8F1EE;


$jumbotron-padding: 17px;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "masonry/basic";
@import "masonry/centered";
@import "masonry/fluid";
@import "masonry/gutters";
@import "masonry/infinitescroll";
@import "masonry/right-to-left";
@import "masonry/transitions";
@import "**/*";

.navbar {
  min-height: 50px;
background-color: white;
}

.center {
  text-align: center;
}

.jumbotron {
  margin-top: 80px;
}

body{
  font-family: 'Raleway', sans-serif;
  color: #586474;
  }