<div class="jumbotron center">
 <% if @category.id==1%> 
   <h2> <img src = "/musicfeed.png" width="200" height="100"> </h2>  
<%elsif @category.id==2 %> 
<h2> <img src = "/moviesfeed.png" width="200" height="100"> </h2>
<%elsif @category.id==3 %> 
<h2> <img src = "/televisionfeed.png" width="300" height="100"> </h2>
<% else %> 
<p> </p>
<%end %>
</div>

  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
    

    <% @lists.each do |list| %>
     
      <div class="box col2 lists">

        <div class = "row">
      <div class ="col-sm-7"> <h5> <%= link_to list.title, list_path(list)%> </h5> </div>
      <div class ="col-sm-5">
      <%= image_tag User.find_by(id:list.user_id).avatar.url , class: "round-image-50"%> </div>
      </div>
         <a href="http://www.flickr.com/photos/nemoorange/3319714470/" title="Whitlow's on Wilson by nemoorange, on Flickr"><img src="http://farm4.static.flickr.com/3008/3319714470_c05a5cb5a8_m.jpg" alt="Whitlow's on Wilson" /></a>
         <br>
        <%= div_for list do %>
         <%= render partial: "follows/button", locals: {list: list}  %> 
         <% end %>
        <br>
    </div>
 <% end %> 
</div>
